
@{
    ViewData["Title"] = "GetPdfPreview";
}

<h1>GetPdfPreview</h1>

<div style="height: 800px;width: 100%;">
    <iframe src="@ViewBag.DocumentLocation"
            frameBorder="0"
            scrolling="auto"
            height="100%"
            width="100%"
            allowfullscreen></iframe>
</div>